In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from scipy import stats
import statsmodels.api as sm
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("medical_cost.csv")

In [3]:
df.head()

   age  sex     bmi  children  smoker     charges
0   18    1  33.770         1       0  1725.55230
1   18    1  34.100         0       0  1137.01100
2   18    0  26.315         0       0  2198.18985
3   18    0  38.665         2       0  3393.35635
4   18    0  35.625         0       0  2211.13075

In [4]:
df.mean()

age            39.207025
sex             0.505232
bmi            30.663397
children        1.094918
smoker          0.204783
charges     13270.422265
dtype: float64

In [5]:
df.median()

age           39.000
sex            1.000
bmi           30.400
children       1.000
smoker         0.000
charges     9382.033
dtype: float64

In [6]:
df.mode()

   age  sex   bmi  children  smoker    charges
0   18    1  32.3         0       0  1639.5631

In [7]:
df.std()

age            14.049960
sex             0.500160
bmi             6.098187
children        1.205493
smoker          0.403694
charges     12110.011237
dtype: float64

In [8]:
df.var()

age         1.974014e+02
sex         2.501596e-01
bmi         3.718788e+01
children    1.453213e+00
smoker      1.629689e-01
charges     1.466524e+08
dtype: float64

In [9]:
df.skew()

age         0.055673
sex        -0.020951
bmi         0.284047
children    0.938380
smoker      1.464766
charges     1.515880
dtype: float64

In [10]:
df.kurtosis()

age        -1.245088
sex        -2.002557
bmi        -0.050732
children    0.202454
smoker      0.145756
charges     1.606299
dtype: float64

In [11]:
df.max()-df.min()

age            46.00000
sex             1.00000
bmi            37.17000
children        5.00000
smoker          1.00000
charges     62648.55411
dtype: float64

In [12]:
bmi=df["bmi"]

In [13]:
bmi

0       33.770
1       34.100
2       26.315
3       38.665
4       35.625
         ...
1333    31.825
1334    26.885
1335    26.410
1336    36.960
1337    23.760
Name: bmi, Length: 1338, dtype: float64

In [14]:
population_mean = 0.05

In [15]:
t_stat, p_value = stats.ttest_1samp(bmi, population_mean)

In [16]:
print(f"T-Statistic: {t_stat}")
print(f"P-Value: {p_value}")

T-Statistic: 183.62797576072794
P-Value: 0.0

In [17]:
# Sample mean and standard error for BMI
sample_mean = np.mean(bmi)
standard_error = stats.sem(bmi)

In [18]:
# Compute 95% confidence interval for BMI
confidence_interval = stats.norm.interval(0.95, loc=sample_mean, scale=standard_error)

In [19]:
print(f"95% Confidence Interval for BMI: {confidence_interval}")

95% Confidence Interval for BMI: (30.336642971534822, 30.990150750438275)

In [20]:
# Define independent variable
X = sm.add_constant(df['bmi'])

In [21]:
# Define dependent variable
y = df['charges']

In [22]:
# Fit linear regression model
model = sm.OLS(y, X).fit()

In [23]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.039
Model:                            OLS   Adj. R-squared:                  0.039
Method:                 Least Squares   F-statistic:                     54.71
Date:                Sun, 08 Sep 2024   Prob (F-statistic):           2.46e-13
Time:                        11:52:27   Log-Likelihood:                -14451.
No. Observations:                1338   AIC:                         2.891e+04
Df Residuals:                    1336   BIC:                         2.892e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1192.9372   1664.802      0.717      0.474   -2072.974    4458.849
bmi          393.8730     53.251      7.397      0.000     289.409     498.337
==============================================================================
Omnibus:                      261.030   Durbin-Watson:                   1.850
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              431.091
Skew:                           1.297   Prob(JB):                     2.45e-94
Kurtosis:                       4.004   Cond. No.                         160.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.